


<div class="container">

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Inserte" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div><button (click)="toCero()"type="button" class="btn btn-outline-primary"> to 0 </button></div>
    </div>

    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{counter}}</p>
      <div><button (click)="increaseBy()" type="button" class="btn btn-outline-primary"> + 1</button></div>
      <div><button (click)="decreaseBy()"type="button" class="btn btn-outline-primary">+ 1</button></div>
      <div><button (click)="toCero()"type="button" class="btn btn-outline-primary"> to 0 </button></div>
    </div>
  </div>

</div>
